apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ pvc_name }}
  spec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 100Mi

- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: dummy-deployment
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: dummy
    template:
      metadata:
        labels:
          app: dummy
          pvc: {{ pvc_name }}
      spec:
        containers:
        - name: dummy-container
          image: busybox
          command:
          - sh
          - -c
          - "date +\"%Y-%m-%d %H:%M:%S\" >> /test-data/{{ test_file }} && sleep 3600"
          volumeMounts:
          - name: dummy-volume
            mountPath: /test-data
        volumes:
        - name: dummy-volume
          persistentVolumeClaim:
            claimName: {{ pvc_name }}
